In [10]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

from pandasql import sqldf, load_meat, load_births

In [11]:
meats = load_meat()
meats.head()

,date,beef,veal,pork,lamb_and_mutton,broilers,other_chicken,turkey
0,1944-01-01,751.0,85.0,1280.0,89.0,NaN,NaN,NaN
1,1944-02-01,713.0,77.0,1169.0,72.0,NaN,NaN,NaN
2,1944-03-01,741.0,90.0,1128.0,75.0,NaN,NaN,NaN
3,1944-04-01,650.0,89.0,978.0,66.0,NaN,NaN,NaN
4,1944-05-01,681.0,106.0,1029.0,78.0,NaN,NaN,NaN

In [16]:
sqldf("""
    SELECT *
    FROM meats
""")

ObjectNotExecutableError: Not an executable object: '\n    SELECT *\n    FROM meats\n'